<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BusMapper">
	<select id="getNearestBusNode" resultType="busNode">
		SELECT NODE_ID, NODE_NAME, LATITUDE, LONGITUDE
		FROM BUSNODE
		ORDER BY ABS(LATITUDE-#{latitude} + LONGITUDE-#{longitude}) ASC
		LIMIT 1
	</select>

	<select id="getNearestBusNodes" resultType="busNode">
		SELECT NODE_ID, NODE_NAME, LATITUDE, LONGITUDE
		FROM BUSNODE
		ORDER BY ABS(LATITUDE-#{latitude} + LONGITUDE-#{longitude}) ASC
		LIMIT #{amount}
	</select>

	<select id="getBusRoutes" resultType="busRoute">
		SELECT NODE_ID, ROUTE_ID, ROUTE_NAME
		FROM BUSROUTE
		WHERE NODE_ID = #{nodeId}
	</select>

</mapper>
