<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ShareLogMapper">
	<select id="getSubwayRanking" resultType="rank">
		SELECT STATION_NAME AS NAME, COUNT(-1) AS COUNT
		FROM SHARELOG
		GROUP BY STATION_NAME
		ORDER BY COUNT DESC
		LIMIT 5
	</select>

	<select id="getBusRanking" resultType="rank">
		SELECT NODE_NAME AS NAME, COUNT(-1) AS COUNT
		FROM SHARELOG
		GROUP BY NODE_NAME
		ORDER BY COUNT DESC
		LIMIT 5
	</select>
	
	<insert id="insertShareLog" parameterType="shareLog">
		INSERT INTO SHARELOG (UUID, REGDATE, STATION_ID, STATION_NAME, URL)
		VALUES(#{uuid}, CURDATE(), #{stationId}, #{stationName}, #{url})
	</insert>
	
	<select id="getShareLog" resultType="String">
		SELECT URL
		FROM SHARELOG
		WHERE UUID = #{uuid}
	</select>

</mapper>
