<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SubwayMapper">
	<select id="getNearestSubway" resultType="subway">
		SELECT STATION_ID, STATION_NAME, LINE, LATITUDE, LONGITUDE
		FROM SUBWAY
		ORDER BY ABS(LATITUDE-#{latitude}) + ABS(LONGITUDE-#{longitude}) ASC
		LIMIT 1
	</select>
	
	<select id="getNearestSubways" resultType="subway">
		SELECT STATION_ID, STATION_NAME, LINE, LATITUDE, LONGITUDE
		FROM SUBWAY
		ORDER BY ABS(LATITUDE-#{latitude}) + ABS(LONGITUDE-#{longitude}) ASC
		LIMIT #{amount}
	</select>

</mapper>
