@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  
}

body *{
  font-family : "Cafe24Ssurround";
}

.modal {
  /*팝업 배경*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal_box {
  width: 70%;
  height: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 10px;
}

.modal_greeting {
  /*팝업 배경*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal_greeting_box {
  width: 600px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.modal_greeting_box img {
  margin: 10px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
}

/* .modal_btn{
    z-index: 11;
} */

#modal_map {
  width: 100%;
  height: 100%;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#menu_wrap {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 0;
  width: 450px;
  min-height: 40%;
  max-height: 80%;
  margin: 10px 10px 10px 10px;
  padding: 5px;
  background: rgba(255, 255, 255);
  z-index: 2;
  font-size: 12px;
  border-radius: 10px;
  border: lightgray 1px solid;
}

#menu {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  width: 100%;
  height: 80%;
  position: relative;
  margin-bottom: 80px;
}

#start_pos_list {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  display: table;
  overflow-y: auto;
}

#default_start_guide{
  display: block;
  margin: 30px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.5ch;
  padding: 40px;
  border: 3px dashed lightgray;
  border-radius: 10px;
}

#menu::-webkit-scrollbar, #target_subways::-webkit-scrollbar{
  width: 10px;
}
#menu::-webkit-scrollbar-thumb, #target_subways::-webkit-scrollbar-thumb{
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
#menu::-webkit-scrollbar-track, #target_subways::-webkit-scrollbar-track{
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.start_pos {
  margin: 10px;
  width: 90%;
  line-height: 60px;
  background-color: #eeeeee;
  font-family : "카페24 써라운드";
  font-size: large;
  font-weight: bold;
  padding-left: 50px;
  border-radius: 5px;
  position: relative;
}

.pnum_btn_group{
  position: absolute;
  right: 10px;
}

.pos_img{
  position: absolute;
  top:14px;
  left:14px;
  width: 25px;
  height: 30px;
  background: url('./img/pin_blue.png');
  background-size: 100%;
}

.plus_button, .minus_button{
  border: 0px;
  background-color: transparent;
}

.delete_button{
  position: absolute;
  top: -11px;
  right: -11px;
  height: 28px;
  width: 28px;
  border: 0px;
  background: url('./img/close_btn.png');
}

#menu_buttons {
  position: absolute;
  bottom: 20px;
}

.btn2 {
  width: 120px;
  height: 45px;
  border-radius: 10px;
  border: 0px;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

#find_btn {
  color: white;
  background-color: #2bde73;
}
#init_btn {
  color: white;
  background-color: #cecece;
}

#transport_list{
    position: absolute;
    background-color: rgb(255,255,255,0.8);
    border-radius: 10px;
    z-index: 12;
    width: 20%;
    height: 75%;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
  padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}

#transport_list h3{
    margin-top: 10px;
    text-align: center;
}


#target_subways{
    overflow-y: auto;
    width: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}
.target_subway{
  width: 90%;
  flex: 0 0 80px;
  border-radius: 10px;
  border:0px;
  background-color: lightgray;
  margin: 0 auto;
  margin-top: 10px;
  overflow-y: auto;
}

.target_subway:hover{
    box-shadow: 0 0 0 3px #2bde73;
}

#share_btn{
    width: 90%;
    height: 60px;
    background-color: #2bde73;
    text-align: center;
    border-radius: 10px;
    border: 0px;
    position: inherit;
    bottom: 10px;
    color: white;
}

#share_btn:hover{
  box-shadow: 0 0 0 2px #081245;
}

#subway_info{
  display: none;
}
